<?xml version="1.0" encoding="UTF-8"?>
<beans	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		  xmlns:task="http://www.springframework.org/schema/task"
		  xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd
							http://www.springframework.org/schema/task
       						http://www.springframework.org/schema/task/spring-task.xsd">
	<context:component-scan base-package="com.panda.zoo"/>
	<import resource="classpath:dubbo-provider.xml"/>

	<bean id="asyncExceptionHandler" class="com.panda.zoo.dubbo.provider.global.PandaAsyncUncaughtExceptionHandler"/>
	<task:annotation-driven exception-handler="asyncExceptionHandler"/>

	<bean id="pool" class="com.panda.zoo.dubbo.provider.global.ThreadPoolTaskThrowExceptionExecutor">
		<property name="corePoolSize" value="8"/>
		<property name="maxPoolSize" value="16"/>
		<property name="queueCapacity" value="5000"/>
		<property name="keepAliveSeconds" value="300"/>
		<property name="rejectedExecutionHandler">
			<bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy"/>
		</property>
	</bean>
</beans>